<div id="query" style="padding-right: 10px; padding-bottom:0px">
  <form name="h2query" action="javascript:alert('should not be submitting this form');">
    <span style="white-space:nowrap;">
      <input type="button" class="button" :value="text.toolbar.run" @click.prevent="run"/>
      <input type="button" class="button" :value="text.toolbar.runSelected" @click.prevent="runSelected"/>
      <input type="button" class="button" :value="text.toolbar.autoComplete" @click.prevent="manualAutoComplete"/>
      <input type="button" class="button" :value="text.toolbar.clear" @click.prevent="sql=''"/>
      {{ text.toolbar.sqlStatement }}:
    </span><!--
    <div style="display:none">
      <iframe id="h2iframeTransport" src="" onload="showList(this.contentWindow.document.body.innerHTML);"></iframe>
    </div>-->
    <!--<textarea v-model="sql" cols="80" rows="8" onkeydown="return keyDown(event)" onkeyup="return keyUp(event)"
                onfocus="keyUp()" onchange="return keyUp()">{{ query }}
	</textarea>-->
    <br/><textarea name="sql" v-model="sql" cols="80" rows="8">{{ sql }}</textarea>
  </form>
</div>